* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url(img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Tourney", cursive;
  text-align: center;
  height: 100%;
  position: relative;

  color: white;
  font-size: 1.2rem;
}
h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}
.circles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  grid-column: 2 / span 2;
  grid-row: 2 / 3;
}
.circle {
  width: 120px;
  height: 120px;
  /* background-color: aqua; */
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1.5px solid white;
  box-shadow: 5px 9.9px 9.9px hsl(0deg 0% 0% / 0.35);

  /* margin: 1rem; */
  /* to prevent clicking, before game starts */
  pointer-events: none;
}
.circle:hover {
  cursor: grab;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

button {
  min-width: 10rem;
  font-family: inherit;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(193, 129, 39);
  color: white;
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 5px 9.9px 9.9px hsla(0, 3%, 47%, 0.35);
}
.circle.active {
  background-image: url(img/mosc--0.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.circle.killed {
  background-image: url(img/prohibited.png);
  background-color: rgba(255, 255, 255, 0.804);
  /*   background-repeat: no-repeat;
 */
  background-size: 100% 100%;
}

/* layout at the end */
.overlay-endGame {
  width: 100vw;
  height: 100vh;
  background-color: rgb(42, 61, 53, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.modal-endGame {
  max-width: 50%;
  min-height: 20%;
  background-color: rgba(242, 193, 124);
  line-height: 1.5;
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px 9.9px 9.9px hsl(0deg 0% 0% / 0.5);
}
.overlay-endGame.visible {
  display: flex;
}

.overlay-rules {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
.rules-modal {
  max-width: 50%;
  min-height: 70%;
  background-color: rgb(252, 252, 252);
  line-height: 1.5;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 9.9px 9.9px hsl(0deg 0% 0% / 0.5);
  color: #444;
  position: relative;
}
.mosc-prohibited {
  /*  min-height: 20px; */
  width: 25%;
}
.overlay-rules.hidden {
  display: none;
}
#close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  box-shadow: none;
  color: #444;
  min-width: 0;
  padding: 5px 10px;
  margin-top: 0;
  border-radius: 3px;
}
#close:hover {
  background-color: rgba(194, 163, 163, 0.3);
}

.overlay-blood {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/blood-splatter.png);
  background-color: rgb(209, 15, 15, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.overlay-blood.open {
  display: block;
}
.overlay-main {
  width: 100vw;
  min-height: 50%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.hidden {
  display: none;
}
/* layout between games */
.overlay-btwRounds {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-btwRounds {
  min-width: 30%;
  min-height: 100px;
  background-color: rgb(242, 193, 124, 0.9);
  color: black;
  line-height: 1.6;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 5px 9.9px 9.9px hsl(0deg 0% 0% / 0.5);
}
.overlay-btwRounds.visible {
  display: flex;
}
.lives {
  width: 90px;
}
.lives-el {
  width: 7rem;
  height: 2rem;
  background: white;

  border-radius: 25px;
  box-shadow: 1px 5px 10px #777676;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
}
.health {
  width: 100px;
}
.health-el {
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);

  border-radius: 25px;
  box-shadow: 1px 5px 10px #777676;
}
.mosc-icon {
  height: 1.5rem;
}

.speed {
  font-size: 2rem;
}
.score-el {
  justify-self: center;
}

.speedbox {
  justify-self: start;
}
.sound-el {
  grid-column: 4;
  grid-row: 2 / 3;
  justify-self: start;
  align-items: end;
}
.best-score {
  color: rgb(221, 74, 16);
}
.round-between {
  color: rgb(221, 74, 16);
}
